body{
    color: #665544;
background-color: #d4d06c;
background-image: url("backdrop.gif");
font-family: Georgia,"Times New Roman",Serif;
text-align: center;}
.wrapper{
    width: 720px;
    margin: 0px auto;
}
.header{
    margin: 40px 0px 20px 0px;
}
.entry{
    width: 220px;
    float: left;
    margin: 10px;
    height: 190px;
   background-image: url("shadow.png");
    background-repeat: no-repeat;
    background-position: bottom;
}
figure{
    display: block;
    width: 202px;
    height: 170px;
    background-color: #e7e3d8;
    margin: 0px;
    padding: 9px;
    text-align: left;
}
figure image{
    width: 200px;
    height: 150px;
    border: 1px solid #d6d6d6;
}
figcaption{
    background-image: url("icon.png");
    padding-left: 20px;
    background-repeat: no-repeat;
}